
body {
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Times New Roman', Times, serif; 
    font-size: 3em; 
    font-weight: bold; 
    color: salmon; 
    text-align: center; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    background-color: pink;

}

img{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.menu {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}

.suti {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transform: scale(1.01);
    transition: ease-in-out 0.1s;
}
.suti:hover{
    transform: scale(1.1);
}
.suti p{
    font-weight: bold;
    margin: 5px;
}
.ar {
    background: pink;
    color: white;
    border: none;
    padding: 15px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    display: block;
    width: 100%;
}
header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header .logo h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
}

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0px;
    list-style: none;
    margin-top: 20px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f39c12;
}

/* Welcome szekció */
#welcome {
    text-align: center;
    background-color: #f9f9f9;
    padding: 50px 20px;
}

#welcome h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

#welcome p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
}


/* Rólunk szekció */
#about {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
}

#about h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#about {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    border-radius: 10px;
}



footer {
    text-align: center;
    padding: 10px;
   background-color: #333;
    color: white;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .gallery-images {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Még kisebb oszlopok mobilra */
    }
}
